.meetVideoContainer {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    background: linear-gradient(-45deg, #414345, #232526, #414345, #232526);
    background-size: 400% 400%;
    animation: animatedGradient 15s ease infinite;

    display: flex;
    flex-direction: column;
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.conferenceView {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2rem;
}

.conferenceView video {
    width: 45vw;
    max-width: 500px;
    min-width: 250px;
    height: 40vh;
    max-height: 400px;
    min-height: 150px;
    border-radius: 20px;
    object-fit: cover;
    background-color: black;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
}

.meetUserVideo {
    position: fixed;
    bottom: 80px;
    left: 10px;
    height: 30vh;
    aspect-ratio: 12/9; 
    border-radius: 20px;
    z-index: 10;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}


.buttonContainer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 10px 0;
    z-index: 10;
}

.buttonContainer svg {
    font-size: 2.4rem;
    margin: 0 10px;
}

.chatRoom{
    height: 90vh;
    width: 20vw;
    position: absolute;
    right: 0;
    background: #ededed;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border-radius: 10px 0 0 10px;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chatInputContainer{
    position: absolute;
    bottom: 0;
}

/* Custom Scrollbar for .conferenceView */
.conferenceView::-webkit-scrollbar {
    width: 10px;
}

.conferenceView::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.conferenceView::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.conferenceView::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* For Firefox */
.conferenceView {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) transparent;
}